*{
    margin: 5px;
}

/* type selector */
body{
    color: aqua;
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.first{
    color: black;
}

.first{
    font-size: 30px;
}

#list {
    background-color: rgb(81, 18, 169);
}
a[href="https://www.youtube.com/"]{
    color: chartreuse;
    text-decoration: none;
}
input[type="text"]{
    color: chartreuse;
}

/* psedue selector */
a:hover{
    color: rgb(3, 1, 1);
}
