/* *{
    margin: 0px;
    padding: 0px;
} */

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.a{
    position: fixed;
    top: 250px;
    left: 100px;
}
.b{
    position: sticky;
    top: 50px;
    left: 150px;
}